# ROS 2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# AI Models
*.pt

# Python
__pycache__/
*.pyc
.venv/

# CMake
CMakeCache.txt
CMakeFiles/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log
