<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin
      filename="gz-sim-diff-drive-system"
      name="gz::sim::systems::DiffDrive">

      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <wheel_separation>0.35</wheel_separation>
      <wheel_radius>0.05</wheel_radius>

      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/tf</tf_topic>

      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>

      <odom_publish_frequency>50</odom_publish_frequency>

      <max_linear_velocity>0.5</max_linear_velocity>
      <max_angular_velocity>1.5</max_angular_velocity>

      <max_linear_acceleration>0.5</max_linear_acceleration>
      <max_angular_acceleration>1.5</max_angular_acceleration>

    </plugin>

    <plugin
      filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">

      <joint_name>left_wheel_joint</joint_name>
      <joint_name>right_wheel_joint</joint_name>

      <topic>/joint_states</topic>

    </plugin>
  </gazebo>

  <gazebo reference="left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="caster_wheel">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
  </gazebo>

</robot>