<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="$(find amr_simulation)/urdf/gazebo.xacro"/>
    <xacro:include filename="lidar.xacro"/>
    <xacro:include filename="$(find amr_control)/urdf/ros2_control.xacro"/>
    <xacro:ros2_control name="GazeboSimSystem"/>

</robot>